USE [master]
GO
/****** Object:  Database [K235480106022_QuanLyCamDo]    Script Date: 11/05/2026 12:26:54 PM ******/
CREATE DATABASE [K235480106022_QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'K235480106022_QuanLyCamDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\K235480106022_QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'K235480106022_QuanLyCamDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\K235480106022_QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [K235480106022_QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [K235480106022_QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoney_Transaction]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo scalar function tính tổng nợ (gốc + lãi) của một hợp đồng đến một ngày cụ thể
-- Scalar function: trả về một giá trị duy nhất kiểu DECIMAL(18,2)
-- CREATE FUNCTION phải là câu lệnh đầu tiên trong batch → cần GO trước đó
CREATE FUNCTION [dbo].[fn_CalcMoney_Transaction] (
    @HopDongID  INT,   -- ID hợp đồng cần tính nợ
    @TargetDate DATE   -- Ngày cần tính nợ đến (có thể là ngày hôm nay hoặc tương lai)
)
RETURNS DECIMAL(18,2)  -- Kiểu trả về: số thực 18 chữ số tổng, 2 chữ số thập phân
AS
BEGIN
    -- Khai báo các biến cần dùng trong function
    DECLARE @SoTienVayGoc   DECIMAL(18,0);  -- Số tiền vay gốc lấy từ bảng HopDong
    DECLARE @NgayVay        DATE;           -- Ngày bắt đầu hợp đồng
    DECLARE @Deadline1      DATE;           -- Ngày hết hạn lãi đơn
    DECLARE @NgayLaiDon     INT;            -- Số ngày tính lãi đơn
    DECLARE @NgayLaiKep     INT;            -- Số ngày tính lãi kép (sau Deadline1)
    DECLARE @LaiDon         DECIMAL(18,2);  -- Tiền lãi đơn tính được
    DECLARE @GocKep         DECIMAL(18,2);  -- Gốc dùng để tính lãi kép = Gốc + LãiĐơn tích lũy
    DECLARE @LaiKep         DECIMAL(18,2);  -- Tiền lãi kép tính được
    DECLARE @KetQua         DECIMAL(18,2);  -- Tổng kết quả trả về (Gốc + Lãi)

    -- Lấy thông tin cơ bản của hợp đồng từ bảng HopDong
    SELECT
        @SoTienVayGoc = SoTienVayGoc,  -- Gán số tiền vay gốc
        @NgayVay      = NgayVay,        -- Gán ngày vay
        @Deadline1    = Deadline1       -- Gán mốc deadline 1
    FROM HopDong
    WHERE HopDongID = @HopDongID;      -- Chỉ lấy đúng hợp đồng cần tính

    -- Rẽ nhánh logic tính lãi dựa vào vị trí của TargetDate so với Deadline1
    IF @TargetDate <= @Deadline1
    -- NHÁNH 1: TargetDate nằm TRƯỚC hoặc ĐÚNG Deadline1 → chỉ tính lãi đơn
    BEGIN
        -- Tính số ngày đã vay (từ ngày vay đến ngày cần tính)
        SET @NgayLaiDon = DATEDIFF(DAY, @NgayVay, @TargetDate);
        -- Công thức lãi đơn: Gốc × 0.005 × số ngày
        -- 0.005 = 5.000đ / 1.000.000đ (tỷ lệ lãi theo đề bài)
        SET @LaiDon     = @SoTienVayGoc * 0.005 * @NgayLaiDon;
        -- Tổng = Gốc + Lãi đơn
        SET @KetQua     = @SoTienVayGoc + @LaiDon;
    END
    ELSE
    -- NHÁNH 2: TargetDate nằm SAU Deadline1 → tính lãi đơn đến Deadline1 + lãi kép từ đó
    BEGIN
        -- Bước 1: Tính lãi đơn từ NgayVay đến Deadline1
        SET @NgayLaiDon = DATEDIFF(DAY, @NgayVay, @Deadline1);
        SET @LaiDon     = @SoTienVayGoc * 0.005 * @NgayLaiDon;

        -- Bước 2: Tính gốc mới dùng để nhân lãi kép = Gốc gốc + toàn bộ lãi đơn tích lũy
        SET @GocKep     = @SoTienVayGoc + @LaiDon;

        -- Bước 3: Tính số ngày tính lãi kép (từ Deadline1 đến TargetDate)
        SET @NgayLaiKep = DATEDIFF(DAY, @Deadline1, @TargetDate);

        -- Bước 4: Áp dụng công thức lãi kép: A = P × (1 + r)^n - P = P × ((1+r)^n - 1)
        -- POWER(base, exponent): tính lũy thừa trong T-SQL
        -- CAST(1.005 AS FLOAT): ép kiểu sang FLOAT để POWER tính chính xác số thực
        SET @LaiKep = @GocKep * (POWER(CAST(1.005 AS FLOAT), @NgayLaiKep) - 1);

        -- Tổng cuối = Gốc kép + Lãi kép = tổng số phải trả đến TargetDate
        SET @KetQua = @GocKep + @LaiKep;
    END

    -- Làm tròn kết quả đến hàng đồng (0 chữ số thập phân) và trả về
    RETURN ROUND(@KetQua, 0);
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo scalar function tính DƯ NỢ THỰC TẾ còn lại của hợp đồng đến ngày chỉ định
-- = Tổng nợ (gốc + lãi) tính đến TargetDate - Số tiền khách đã trả
-- Phụ thuộc vào fn_CalcMoney_Transaction → phải tạo function đó trước
CREATE FUNCTION [dbo].[fn_CalcMoneyContract] (
    @ContractID INT,   -- ID hợp đồng cần tra cứu dư nợ
    @TargetDate DATE   -- Ngày cần tính đến
)
RETURNS DECIMAL(18,2)  -- Trả về số thực (dư nợ còn lại, đơn vị đồng)
AS
BEGIN
    -- Khai báo biến lưu kết quả trung gian
    DECLARE @TongNo     DECIMAL(18,2);  -- Tổng nợ gốc + lãi đến TargetDate
    DECLARE @DaTra      DECIMAL(18,0);  -- Tổng số tiền khách đã trả từ trước đến nay
    DECLARE @DuNo       DECIMAL(18,2);  -- Dư nợ thực tế = TổngNợ - ĐãTrả

    -- Gọi function đã tạo ở trên để tính tổng nợ (gốc + lãi) đến TargetDate
    SET @TongNo = dbo.fn_CalcMoney_Transaction(@ContractID, @TargetDate);

    -- Lấy số tiền khách đã trả từ cột SoTienDaTra trong bảng HopDong
    -- ISNULL(..., 0): nếu không tìm thấy hợp đồng hoặc cột NULL thì dùng 0
    SELECT @DaTra = ISNULL(SoTienDaTra, 0)
    FROM HopDong
    WHERE HopDongID = @ContractID;

    -- Tính dư nợ = Tổng nợ - Đã trả
    SET @DuNo = @TongNo - @DaTra;
    -- Đảm bảo dư nợ không âm (trường hợp khách trả dư)
    IF @DuNo < 0 SET @DuNo = 0;

    -- Làm tròn đến hàng đồng và trả về
    RETURN ROUND(@DuNo, 0);
END;

GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[HopDongID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[NgayVay] [date] NOT NULL,
	[SoTienVayGoc] [decimal](18, 0) NOT NULL,
	[SoTienDaTra] [decimal](18, 0) NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong_TaiSan]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong_TaiSan](
	[HopDongID] [int] NOT NULL,
	[TaiSanID] [int] NOT NULL,
 CONSTRAINT [PK_HopDong_TaiSan] PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC,
	[TaiSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CMND_CCCD] [nvarchar](20) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaoDich]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaoDich](
	[GiaoDichID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[SoTienTra] [decimal](18, 0) NOT NULL,
	[DuNoTruocKhiTra] [decimal](18, 0) NOT NULL,
	[DuNoSauKhiTra] [decimal](18, 0) NOT NULL,
	[LoaiGiaoDich] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_LichSuGiaoDich] PRIMARY KEY CLUSTERED 
(
	[GiaoDichID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[ChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[TaiSanID] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiSan] [nvarchar](200) NOT NULL,
	[LoaiTaiSan] [nvarchar](100) NULL,
	[GiaTriDinhGia] [decimal](18, 0) NOT NULL,
	[TrangThai] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_TaiSan] PRIMARY KEY CLUSTERED 
(
	[TaiSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([HopDongID], [KhachHangID], [NhanVienID], [NgayVay], [SoTienVayGoc], [SoTienDaTra], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 1, 1, CAST(N'2026-05-01' AS Date), CAST(20000000 AS Decimal(18, 0)), CAST(10000000 AS Decimal(18, 0)), CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), N'Dang tra gop')
INSERT [dbo].[HopDong] ([HopDongID], [KhachHangID], [NhanVienID], [NgayVay], [SoTienVayGoc], [SoTienDaTra], [Deadline1], [Deadline2], [TrangThai]) VALUES (2, 2, 2, CAST(N'2026-05-03' AS Date), CAST(50000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(N'2026-01-01' AS Date), CAST(N'2026-02-01' AS Date), N'Qua han')
INSERT [dbo].[HopDong] ([HopDongID], [KhachHangID], [NhanVienID], [NgayVay], [SoTienVayGoc], [SoTienDaTra], [Deadline1], [Deadline2], [TrangThai]) VALUES (3, 3, 2, CAST(N'2026-04-15' AS Date), CAST(15000000 AS Decimal(18, 0)), CAST(15000000 AS Decimal(18, 0)), CAST(N'2026-05-15' AS Date), CAST(N'2026-06-15' AS Date), N'Da thanh toan')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
INSERT [dbo].[HopDong_TaiSan] ([HopDongID], [TaiSanID]) VALUES (1, 1)
INSERT [dbo].[HopDong_TaiSan] ([HopDongID], [TaiSanID]) VALUES (2, 2)
INSERT [dbo].[HopDong_TaiSan] ([HopDongID], [TaiSanID]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [CMND_CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (1, N'Nguyễn Văn An', N'001203456789', N'0912345678', N'Hà Nội', CAST(N'2026-05-11T11:04:59.570' AS DateTime))
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [CMND_CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (2, N'Trần Thị Bình', N'001203456790', N'0988123456', N'Hải Phòng', CAST(N'2026-05-11T11:04:59.570' AS DateTime))
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [CMND_CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (3, N'Lê Minh Cường', N'001203456791', N'0977666555', N'Đà Nẵng', CAST(N'2026-05-11T11:04:59.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuGiaoDich] ON 

INSERT [dbo].[LichSuGiaoDich] ([GiaoDichID], [HopDongID], [NhanVienID], [NgayGiaoDich], [SoTienTra], [DuNoTruocKhiTra], [DuNoSauKhiTra], [LoaiGiaoDich], [GhiChu]) VALUES (1, 1, 2, CAST(N'2026-05-11T11:04:59.683' AS DateTime), CAST(3000000 AS Decimal(18, 0)), CAST(20000000 AS Decimal(18, 0)), CAST(17000000 AS Decimal(18, 0)), N'Tra no', N'Khách trả lần 1')
INSERT [dbo].[LichSuGiaoDich] ([GiaoDichID], [HopDongID], [NhanVienID], [NgayGiaoDich], [SoTienTra], [DuNoTruocKhiTra], [DuNoSauKhiTra], [LoaiGiaoDich], [GhiChu]) VALUES (2, 1, 2, CAST(N'2026-05-11T11:04:59.683' AS DateTime), CAST(2000000 AS Decimal(18, 0)), CAST(17000000 AS Decimal(18, 0)), CAST(15000000 AS Decimal(18, 0)), N'Tra no', N'Khách trả lần 2')
INSERT [dbo].[LichSuGiaoDich] ([GiaoDichID], [HopDongID], [NhanVienID], [NgayGiaoDich], [SoTienTra], [DuNoTruocKhiTra], [DuNoSauKhiTra], [LoaiGiaoDich], [GhiChu]) VALUES (3, 3, 1, CAST(N'2026-05-11T11:04:59.683' AS DateTime), CAST(15000000 AS Decimal(18, 0)), CAST(15000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'Tra no', N'Tất toán hợp đồng')
SET IDENTITY_INSERT [dbo].[LichSuGiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [SoDienThoai], [ChucVu]) VALUES (1, N'Nguyễn Thành Công', N'0909000001', N'Quản lý')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [SoDienThoai], [ChucVu]) VALUES (2, N'Trần Mỹ Linh', N'0909000002', N'Thu ngân')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [SoDienThoai], [ChucVu]) VALUES (3, N'Phạm Quốc Bảo', N'0909000003', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([TaiSanID], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (1, N'iPhone 15 Pro Max', N'Điện thoại', CAST(30000000 AS Decimal(18, 0)), N'Dang cam co')
INSERT [dbo].[TaiSan] ([TaiSanID], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (2, N'Xe máy Honda SH', N'Xe máy', CAST(85000000 AS Decimal(18, 0)), N'San sang thanh ly')
INSERT [dbo].[TaiSan] ([TaiSanID], [TenTaiSan], [LoaiTaiSan], [GiaTriDinhGia], [TrangThai]) VALUES (3, N'Laptop Dell XPS', N'Laptop', CAST(25000000 AS Decimal(18, 0)), N'Dang cam co')
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_CMND]    Script Date: 11/05/2026 12:26:55 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_CMND] UNIQUE NONCLUSTERED 
(
	[CMND_CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT ((0)) FOR [SoTienDaTra]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Dang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuGiaoDich] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Dang cam co') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_NhanVien]
GO
ALTER TABLE [dbo].[HopDong_TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_HDT_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDong] ([HopDongID])
GO
ALTER TABLE [dbo].[HopDong_TaiSan] CHECK CONSTRAINT [FK_HDT_HopDong]
GO
ALTER TABLE [dbo].[HopDong_TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_HDT_TaiSan] FOREIGN KEY([TaiSanID])
REFERENCES [dbo].[TaiSan] ([TaiSanID])
GO
ALTER TABLE [dbo].[HopDong_TaiSan] CHECK CONSTRAINT [FK_HDT_TaiSan]
GO
ALTER TABLE [dbo].[LichSuGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_LSGD_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDong] ([HopDongID])
GO
ALTER TABLE [dbo].[LichSuGiaoDich] CHECK CONSTRAINT [FK_LSGD_HopDong]
GO
ALTER TABLE [dbo].[LichSuGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_LSGD_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[LichSuGiaoDich] CHECK CONSTRAINT [FK_LSGD_NhanVien]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_TrangThai] CHECK  (([TrangThai]=N'Da thanh ly' OR [TrangThai]=N'Da thanh toan' OR [TrangThai]=N'Dang tra gop' OR [TrangThai]=N'Qua han' OR [TrangThai]=N'Dang vay'))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_TrangThai]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [CK_TaiSan_TrangThai] CHECK  (([TrangThai]=N'Da ban thanh ly' OR [TrangThai]=N'San sang thanh ly' OR [TrangThai]=N'Da tra khach' OR [TrangThai]=N'Dang cam co'))
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [CK_TaiSan_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo Stored Procedure xử lý gia hạn hợp đồng
-- Khách trả toàn bộ lãi hiện tại → deadline được dời thêm @SoNgayGiaHan ngày
-- Sau gia hạn: lãi tính lại từ đầu (lãi đơn), không còn lãi kép
CREATE PROCEDURE [dbo].[sp_GiaHanHopDong]
    @HopDongID      INT,   -- ID hợp đồng cần gia hạn
    @NhanVienID     INT,   -- ID nhân viên xử lý giao dịch gia hạn
    @SoNgayGiaHan   INT    -- Số ngày muốn gia hạn thêm (ví dụ: 30)
AS
BEGIN
    SET NOCOUNT ON;  -- Tắt thông báo số dòng bị ảnh hưởng

    -- Khai báo biến nội bộ dùng trong procedure
    DECLARE @TrangThai      NVARCHAR(20);   -- Trạng thái hiện tại của hợp đồng
    DECLARE @LaiHienTai     DECIMAL(18,2);  -- Tổng lãi khách phải trả để gia hạn
    DECLARE @Deadline1Cu    DATE;           -- Deadline1 cũ trước khi gia hạn
    DECLARE @Deadline2Cu    DATE;           -- Deadline2 cũ trước khi gia hạn
    DECLARE @Deadline1Moi   DATE;           -- Deadline1 mới sau khi gia hạn
    DECLARE @Deadline2Moi   DATE;           -- Deadline2 mới sau khi gia hạn
    DECLARE @KhoangDD1DD2   INT;            -- Số ngày khoảng cách giữa Deadline1 và Deadline2
    -- Lấy ngày hôm nay một lần để dùng xuyên suốt
    DECLARE @NgayHomNay     DATE = CAST(GETDATE() AS DATE);

    -- Lấy thông tin hiện tại của hợp đồng cần gia hạn
    SELECT
        @TrangThai   = TrangThai,   -- Trạng thái hợp đồng
        @Deadline1Cu = Deadline1,   -- Deadline1 hiện tại
        @Deadline2Cu = Deadline2    -- Deadline2 hiện tại
    FROM HopDong
    WHERE HopDongID = @HopDongID;

    -- Kiểm tra điều kiện: chỉ gia hạn được hợp đồng đang vay hoặc đã quá hạn
    -- Không gia hạn được hợp đồng đã đóng ('Da thanh toan') hoặc đã thanh lý ('Da thanh ly')
    IF @TrangThai NOT IN (N'Dang vay', N'Qua han')
    BEGIN
        THROW 50003,
            N'Hop dong khong the gia han (da dong hoac da thanh ly).',
            1;
        RETURN;  -- Thoát procedure
    END

    BEGIN TRY  -- Bắt đầu khối xử lý an toàn
        BEGIN TRANSACTION;  -- Mở transaction

        -- Tính dư nợ hiện tại (lãi khách phải trả để gia hạn) tính đến hôm nay
        SET @LaiHienTai  = dbo.fn_CalcMoneyContract(@HopDongID, @NgayHomNay);
        -- Tính khoảng cách ngày giữa Deadline1 cũ và Deadline2 cũ (để giữ nguyên khoảng cách)
        SET @KhoangDD1DD2 = DATEDIFF(DAY, @Deadline1Cu, @Deadline2Cu);
        -- Deadline1 mới = hôm nay + số ngày gia hạn
        SET @Deadline1Moi = DATEADD(DAY, @SoNgayGiaHan, @NgayHomNay);
        -- Deadline2 mới = Deadline1 mới + khoảng cách cũ (giữ nguyên khoảng cách DD1-DD2)
        SET @Deadline2Moi = DATEADD(DAY, @KhoangDD1DD2, @Deadline1Moi);

        -- Cập nhật hợp đồng với deadline mới và đặt lại trạng thái về 'Dang vay'
        UPDATE HopDong
        SET Deadline1  = @Deadline1Moi,   -- Ghi deadline1 mới
            Deadline2  = @Deadline2Moi,   -- Ghi deadline2 mới
            TrangThai  = N'Dang vay'      -- Đặt lại trạng thái (xóa 'Qua han' nếu có)
        WHERE HopDongID = @HopDongID;

        -- Ghi Audit Log cho giao dịch gia hạn
        -- SoTienTra = @LaiHienTai: khách trả toàn bộ lãi để gia hạn
        -- DuNoSauKhiTra = 0: sau khi trả lãi, gốc vẫn còn nhưng lãi = 0 (tính lại từ đầu)
        INSERT INTO LichSuGiaoDich (
            HopDongID, NhanVienID, NgayGiaoDich,
            SoTienTra, DuNoTruocKhiTra, DuNoSauKhiTra,
            LoaiGiaoDich, GhiChu
        ) VALUES (
            @HopDongID,             -- Hợp đồng liên quan
            @NhanVienID,            -- Nhân viên xử lý
            GETDATE(),              -- Thời điểm gia hạn (có giờ:phút:giây)
            @LaiHienTai,            -- Số tiền lãi khách đã trả để gia hạn
            @LaiHienTai,            -- Dư nợ trước khi trả (bằng lãi hiện tại)
            0,                      -- Dư nợ sau khi trả = 0 (lãi đã trả xong, tính lại)
            N'Gia han',             -- Phân loại giao dịch
            -- Ghi chú thêm chi tiết: số ngày gia hạn và deadline mới
            -- CONVERT(..., 103): định dạng ngày theo kiểu dd/mm/yyyy (format 103)
            N'Gia han ' + CAST(@SoNgayGiaHan AS NVARCHAR(10))
                + N' ngay. Deadline1 moi: '
                + CONVERT(NVARCHAR(10), @Deadline1Moi, 103)
        );

        COMMIT TRANSACTION;  -- Lưu thật tất cả thay đổi

        -- Trả về kết quả thông báo gia hạn thành công
        SELECT
            @Deadline1Moi   AS Deadline1Moi,            -- Deadline1 mới
            @Deadline2Moi   AS Deadline2Moi,            -- Deadline2 mới
            @LaiHienTai     AS SoTienLaiDaThanhToan,    -- Số tiền lãi khách đã trả
            N'Gia han thanh cong' AS ThongBao;          -- Thông báo
    END TRY
    BEGIN CATCH  -- Bắt lỗi trong khối TRY
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;  -- Huỷ transaction nếu có lỗi
        THROW;  -- Re-throw lỗi ra ngoài
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TiepNhanHopDong]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo Stored Procedure tiếp nhận hợp đồng mới
-- Lưu ý: CREATE PROCEDURE phải là câu lệnh ĐẦU TIÊN trong batch → cần GO trước đó
CREATE PROCEDURE [dbo].[sp_TiepNhanHopDong]
    @KhachHangID        INT,            -- ID khách hàng vay tiền (phải tồn tại trong bảng KhachHang)
    @NhanVienID         INT,            -- ID nhân viên tiếp nhận hợp đồng
    @SoTienVay          DECIMAL(18,0),  -- Số tiền vay gốc (đơn vị: đồng VND)
    @NgayVay            DATE,           -- Ngày ký hợp đồng (chỉ lưu ngày)
    @SoNgayDeadline1    INT,            -- Số ngày kể từ NgayVay tới Deadline1 (ví dụ: 30)
    @SoNgayDeadline2    INT,            -- Số ngày kể từ Deadline1 tới Deadline2 (ví dụ: 30)
    @TaiSanIDs          NVARCHAR(MAX)   -- Danh sách TaiSanID phân cách bởi dấu phẩy, ví dụ N'1,2,3'
AS
BEGIN
    SET NOCOUNT ON;  -- Tắt thông báo "n row(s) affected" để tránh nhiễu kết quả trả về

    -- Khai báo biến nội bộ dùng trong procedure
    DECLARE @HopDongID      INT;                    -- Sẽ lưu ID hợp đồng vừa tạo
    DECLARE @Deadline1      DATE;                   -- Ngày hết hạn lãi đơn
    DECLARE @Deadline2      DATE;                   -- Ngày cuối trước khi thanh lý
    DECLARE @TongGiaTri     DECIMAL(18,0) = 0;      -- Tổng giá trị định giá các tài sản

    -- Kiểm tra đầu vào: số tiền vay phải dương
    IF @SoTienVay <= 0
    BEGIN
        -- THROW: ném lỗi có mã 50001, thông báo lỗi, trạng thái 1
        -- Mã lỗi người dùng phải >= 50000
        THROW 50001, N'So tien vay phai lon hon 0.', 1;
        RETURN;  -- Thoát procedure ngay lập tức sau khi ném lỗi
    END

    BEGIN TRY  -- Bắt đầu khối xử lý an toàn; nếu có lỗi sẽ nhảy vào BEGIN CATCH
        BEGIN TRANSACTION;  -- Bắt đầu transaction; mọi thay đổi sẽ chưa lưu thật cho đến COMMIT

        -- Tính Deadline1: cộng thêm @SoNgayDeadline1 ngày vào NgayVay
        SET @Deadline1 = DATEADD(DAY, @SoNgayDeadline1, @NgayVay);
        -- Tính Deadline2: cộng thêm @SoNgayDeadline2 ngày vào Deadline1
        SET @Deadline2 = DATEADD(DAY, @SoNgayDeadline2, @Deadline1);

        -- Chèn bản ghi hợp đồng mới vào bảng HopDong
        INSERT INTO HopDong (
            KhachHangID, NhanVienID, NgayVay,   -- Thông tin cơ bản
            SoTienVayGoc, SoTienDaTra,           -- Số tiền vay và số tiền đã trả (bắt đầu = 0)
            Deadline1, Deadline2, TrangThai      -- Hai mốc deadline và trạng thái ban đầu
        ) VALUES (
            @KhachHangID, @NhanVienID, @NgayVay,
            @SoTienVay, 0,                       -- SoTienDaTra = 0 vì mới vay, chưa trả gì
            @Deadline1, @Deadline2, N'Dang vay'  -- Trạng thái mặc định là 'Dang vay'
        );

        -- Lấy ID của hợp đồng vừa INSERT (an toàn trong cùng session, không bị ảnh hưởng bởi session khác)
        SET @HopDongID = SCOPE_IDENTITY();

        -- Liên kết các tài sản vào hợp đồng qua bảng trung gian HopDong_TaiSan
        -- STRING_SPLIT: hàm tách chuỗi theo ký tự phân cách (yêu cầu SQL Server 2016+)
        -- TRIM: xóa khoảng trắng thừa quanh mỗi giá trị (ví dụ '1, 2 ,3' → '1','2','3')
        -- CAST(... AS INT): chuyển chuỗi sang số nguyên để khớp kiểu TaiSanID
        INSERT INTO HopDong_TaiSan (HopDongID, TaiSanID)
        SELECT @HopDongID, CAST(TRIM(value) AS INT)
        FROM STRING_SPLIT(@TaiSanIDs, ',')      -- Tách chuỗi @TaiSanIDs theo dấu phẩy
        WHERE TRIM(value) <> N'';               -- Bỏ qua phần tử rỗng (nếu có dấu phẩy dư)

        -- Cập nhật trạng thái các tài sản được liên kết thành 'Dang cam co'
        -- Dùng subquery với STRING_SPLIT để lọc đúng danh sách TaiSanID
        UPDATE TaiSan
        SET TrangThai = N'Dang cam co'
        WHERE TaiSanID IN (
            SELECT CAST(TRIM(value) AS INT)
            FROM STRING_SPLIT(@TaiSanIDs, ',')
            WHERE TRIM(value) <> N''
        );

        -- Tính tổng giá trị định giá của tất cả tài sản thuộc hợp đồng vừa tạo
        -- ISNULL(..., 0): nếu SUM trả về NULL (không có tài sản) thì dùng 0
        SELECT @TongGiaTri = ISNULL(SUM(ts.GiaTriDinhGia), 0)
        FROM TaiSan ts
        INNER JOIN HopDong_TaiSan hdt ON ts.TaiSanID = hdt.TaiSanID
        WHERE hdt.HopDongID = @HopDongID;  -- Chỉ tính tài sản của hợp đồng này

        -- Kiểm tra nghiệp vụ: tổng giá trị tài sản phải >= số tiền vay
        -- (Không thể vay 30tr mà chỉ thế chấp tài sản trị giá 10tr)
        IF @TongGiaTri < @SoTienVay
        BEGIN
            ROLLBACK TRANSACTION;  -- Huỷ toàn bộ thay đổi đã làm trong transaction này
            THROW 50002,
                N'Tong gia tri tai san nho hon so tien vay, hop dong khong hop le.',
                1;
            RETURN;  -- Thoát procedure
        END

        COMMIT TRANSACTION;  -- Lưu thật tất cả thay đổi vào database

        -- Trả về kết quả thông báo tạo hợp đồng thành công
        SELECT
            @HopDongID      AS HopDongID,       -- ID hợp đồng vừa tạo
            @SoTienVay      AS SoTienVayGoc,    -- Số tiền vay gốc
            @Deadline1      AS Deadline1,        -- Ngày hết lãi đơn
            @Deadline2      AS Deadline2,        -- Ngày cuối trước thanh lý
            @TongGiaTri     AS TongGiaTriTaiSan, -- Tổng giá trị tài sản thế chấp
            N'Tao hop dong thanh cong' AS ThongBao;  -- Thông báo thành công
    END TRY
    BEGIN CATCH  -- Bắt mọi lỗi xảy ra trong khối TRY ở trên
        -- Nếu vẫn còn transaction đang mở (@@TRANCOUNT > 0) thì huỷ nó
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        -- Re-throw lỗi gốc ra ngoài để caller biết nguyên nhân
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo Stored Procedure xử lý khi khách hàng đến trả tiền
-- Xử lý 3 tình huống: tài sản đã thanh lý / trả hết nợ / trả góp một phần
CREATE PROCEDURE [dbo].[sp_XuLyTraNo]
    @HopDongID      INT,            -- ID hợp đồng cần xử lý trả nợ
    @NhanVienID     INT,            -- ID nhân viên thực hiện thu tiền
    @SoTienTra      DECIMAL(18,0)   -- Số tiền khách nộp trong lần này
AS
BEGIN
    SET NOCOUNT ON;  -- Tắt thông báo "n row(s) affected"

    -- Khai báo biến nội bộ
    DECLARE @CoTaiSanDaBan  INT;            -- Đếm số tài sản đã bán thanh lý
    DECLARE @DuNoCu         DECIMAL(18,2);  -- Dư nợ TRƯỚC khi trả lần này
    DECLARE @DuNoMoi        DECIMAL(18,2);  -- Dư nợ SAU khi trả lần này
    -- Lấy ngày hiện tại một lần, dùng xuyên suốt procedure để nhất quán
    DECLARE @NgayHomNay     DATE = CAST(GETDATE() AS DATE);

    -- Kiểm tra xem có tài sản nào của hợp đồng này đã bị bán thanh lý chưa
    -- Nếu có → không thu tiền, không trả đồ (theo quy tắc nghiệp vụ)
    SELECT @CoTaiSanDaBan = COUNT(*)
    FROM HopDong_TaiSan hdt
    INNER JOIN TaiSan ts ON hdt.TaiSanID = ts.TaiSanID
    WHERE hdt.HopDongID = @HopDongID           -- Chỉ xét tài sản của hợp đồng này
      AND ts.TrangThai = N'Da ban thanh ly';   -- Đếm những tài sản đã bị bán

    -- Nếu có ít nhất 1 tài sản đã bán thanh lý → từ chối giao dịch
    IF @CoTaiSanDaBan > 0
    BEGIN
        -- Trả về thông báo từ chối; không thực hiện bất kỳ cập nhật nào
        SELECT
            N'KHONG_THU_TIEN' AS KetQua,
            N'Tai san da bi thanh ly. Khong the thu tien hay hoan tra do.' AS ThongBao;
        RETURN;  -- Thoát procedure ngay lập tức
    END

    BEGIN TRY  -- Bắt đầu khối xử lý an toàn
        BEGIN TRANSACTION;  -- Mở transaction; mọi thay đổi chưa lưu thật

        -- Tính dư nợ hiện tại của hợp đồng tính đến ngày hôm nay
        -- Gọi function đã tạo ở Event 2
        SET @DuNoCu  = dbo.fn_CalcMoneyContract(@HopDongID, @NgayHomNay);
        -- Tính dư nợ còn lại sau khi trừ số tiền khách vừa trả
        SET @DuNoMoi = @DuNoCu - @SoTienTra;
        -- Đảm bảo dư nợ không âm (trường hợp khách trả dư)
        IF @DuNoMoi < 0 SET @DuNoMoi = 0;

        -- Cộng dồn số tiền vừa trả vào tổng đã trả của hợp đồng
        UPDATE HopDong
        SET SoTienDaTra = SoTienDaTra + @SoTienTra  -- Cộng thêm, không ghi đè
        WHERE HopDongID = @HopDongID;               -- Chỉ cập nhật đúng hợp đồng

        -- Ghi Audit Log: mỗi lần trả tiền tạo một dòng mới trong LichSuGiaoDich
        -- Không bao giờ xóa hoặc sửa log → đảm bảo tính truy vết
        INSERT INTO LichSuGiaoDich (
            HopDongID, NhanVienID, NgayGiaoDich,
            SoTienTra, DuNoTruocKhiTra, DuNoSauKhiTra, LoaiGiaoDich
        ) VALUES (
            @HopDongID,     -- Hợp đồng liên quan
            @NhanVienID,    -- Nhân viên thu tiền
            GETDATE(),      -- Thời điểm giao dịch (có cả giờ:phút:giây)
            @SoTienTra,     -- Số tiền trả trong lần này
            @DuNoCu,        -- Dư nợ trước khi trả (dùng đối chiếu sau này)
            @DuNoMoi,       -- Dư nợ sau khi trả
            N'Tra no'       -- Phân loại giao dịch
        );

        -- Rẽ nhánh: kiểm tra đã trả hết nợ chưa
        IF @DuNoMoi = 0
        BEGIN
            -- TRƯỜNG HỢP ĐÃ TRẢ HẾT: đóng hợp đồng và hoàn tất tài sản

            -- Chuyển trạng thái hợp đồng sang 'Da thanh toan'
            UPDATE HopDong
            SET TrangThai = N'Da thanh toan'
            WHERE HopDongID = @HopDongID;

            -- Chuyển tất cả tài sản thuộc hợp đồng này sang 'Da tra khach'
            -- Subquery lấy danh sách TaiSanID của hợp đồng từ bảng trung gian
            UPDATE TaiSan
            SET TrangThai = N'Da tra khach'
            WHERE TaiSanID IN (
                SELECT TaiSanID FROM HopDong_TaiSan
                WHERE HopDongID = @HopDongID
            );

            COMMIT TRANSACTION;  -- Lưu thật tất cả thay đổi

            -- Trả về thông báo hoàn tất
            SELECT
                N'TRA_HET' AS KetQua,
                N'Khach da tra du. Tat ca tai san duoc hoan tra.' AS ThongBao,
                @DuNoMoi AS DuNoCon;  -- = 0
        END
        ELSE
        BEGIN
            -- TRƯỜNG HỢP CHƯA TRẢ HẾT: ghi nhận trả góp và gợi ý tài sản rút về

            -- Chuyển trạng thái hợp đồng sang 'Dang tra gop'
            UPDATE HopDong
            SET TrangThai = N'Dang tra gop'
            WHERE HopDongID = @HopDongID;

            COMMIT TRANSACTION;  -- Lưu thật các thay đổi phía trên

            -- Trả về thông báo dư nợ còn lại
            -- FORMAT(..., N'N0'): định dạng số có dấu phân cách hàng nghìn (ví dụ: 5.000.000)
            SELECT
                N'TRA_GOP' AS KetQua,
                N'Con no: ' + FORMAT(@DuNoMoi, N'N0') + N' dong' AS ThongBao,
                @DuNoMoi AS DuNoCon;

            -- Truy vấn gợi ý: liệt kê tài sản KHÁCH CÓ THỂ RÚT VỀ
            -- Điều kiện nghiệp vụ: tổng giá trị tài sản CÒN LẠI (sau khi rút tài sản này)
            -- phải >= dư nợ hiện tại → đảm bảo tài sản còn lại vẫn bảo đảm được khoản nợ
            SELECT
                ts.TaiSanID,
                ts.TenTaiSan,
                FORMAT(ts.GiaTriDinhGia, N'N0') AS GiaTriDinhGia,  -- Hiển thị có dấu phẩy
                N'Co the rut ve' AS GopY
            FROM TaiSan ts
            INNER JOIN HopDong_TaiSan hdt ON ts.TaiSanID = hdt.TaiSanID
            WHERE hdt.HopDongID = @HopDongID          -- Chỉ xét tài sản của hợp đồng này
              AND ts.TrangThai = N'Dang cam co'        -- Chỉ tài sản chưa trả, chưa thanh lý
              AND (
                  -- Subquery: tính tổng giá trị tài sản CÒN LẠI nếu rút tài sản ts này về
                  -- ts2 là tập tài sản còn lại = tất cả tài sản của hợp đồng trừ ts
                  SELECT ISNULL(SUM(ts2.GiaTriDinhGia), 0)
                  FROM TaiSan ts2
                  INNER JOIN HopDong_TaiSan hdt2
                      ON ts2.TaiSanID = hdt2.TaiSanID
                  WHERE hdt2.HopDongID = @HopDongID      -- Cùng hợp đồng
                    AND ts2.TrangThai = N'Dang cam co'   -- Tài sản đang còn cầm
                    AND ts2.TaiSanID <> ts.TaiSanID      -- Loại trừ chính tài sản đang xét
              ) >= @DuNoMoi;  -- Điều kiện: phần còn lại phải >= dư nợ
        END
    END TRY
    BEGIN CATCH  -- Bắt lỗi xảy ra trong khối TRY
        -- Nếu còn transaction đang mở thì huỷ để đảm bảo tính toàn vẹn dữ liệu
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;  -- Re-throw lỗi ra ngoài
    END CATCH
END;

GO
/****** Object:  Trigger [dbo].[trg_AutoDaBanThanhLy]    Script Date: 11/05/2026 12:26:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger tự động chuyển tài sản sang 'Da ban thanh ly'
-- khi hợp đồng vừa chuyển sang trạng thái 'Da thanh ly'
CREATE TRIGGER [dbo].[trg_AutoDaBanThanhLy]
ON [dbo].[HopDong]          -- Gắn vào bảng HopDong
AFTER UPDATE        -- Kích hoạt sau lệnh UPDATE
AS
BEGIN
    SET NOCOUNT ON;  -- Tắt thông báo số dòng bị ảnh hưởng

    -- Cập nhật tài sản sang 'Da ban thanh ly' với điều kiện chặt chẽ:
    -- 1. Trạng thái MỚI (inserted) của hợp đồng là 'Da thanh ly'
    -- 2. Trạng thái CŨ (deleted) của hợp đồng KHÔNG PHẢI 'Da thanh ly'
    --    → Đảm bảo chỉ kích hoạt khi trạng thái VỪA chuyển sang 'Da thanh ly'
    --    → Tránh trigger chạy lặp nếu UPDATE hợp đồng nhiều lần mà vẫn 'Da thanh ly'
    -- 3. Tài sản đang ở trạng thái 'Dang cam co' hoặc 'San sang thanh ly'
    UPDATE ts
    SET ts.TrangThai = N'Da ban thanh ly'
    FROM TaiSan ts
    -- JOIN bảng trung gian để biết tài sản thuộc hợp đồng nào
    INNER JOIN HopDong_TaiSan hdt ON ts.TaiSanID   = hdt.TaiSanID
    -- JOIN bảng ảo inserted: giá trị MỚI sau UPDATE
    INNER JOIN inserted i          ON hdt.HopDongID = i.HopDongID
    -- JOIN bảng ảo deleted: giá trị CŨ trước UPDATE
    -- Trong AFTER UPDATE trigger, deleted chứa snapshot trước khi UPDATE
    INNER JOIN deleted  d          ON d.HopDongID   = i.HopDongID
    -- Điều kiện 1: trạng thái mới phải là 'Da thanh ly'
    WHERE i.TrangThai = N'Da thanh ly'
      -- Điều kiện 2: trạng thái cũ không được là 'Da thanh ly' (tránh chạy lặp)
      AND d.TrangThai <> N'Da thanh ly'
      -- Điều kiện 3: chỉ cập nhật tài sản chưa xử lý (đang cầm hoặc chờ thanh lý)
      AND ts.TrangThai IN (N'Dang cam co', N'San sang thanh ly');
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_AutoDaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_AutoQuaHan]    Script Date: 11/05/2026 12:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger tự động phát hiện và chuyển hợp đồng sang trạng thái 'Qua han'
-- Kích hoạt mỗi khi có lệnh UPDATE trên bảng HopDong
-- AFTER UPDATE: chạy SAU khi lệnh UPDATE đã hoàn thành
CREATE TRIGGER [dbo].[trg_AutoQuaHan]
ON [dbo].[HopDong]          -- Trigger gắn vào bảng HopDong
AFTER UPDATE        -- Kích hoạt sau lệnh UPDATE (không phải INSERT hay DELETE)
AS
BEGIN
    SET NOCOUNT ON;  -- Tắt thông báo số dòng bị ảnh hưởng

    -- Cập nhật trạng thái sang 'Qua han' cho các hợp đồng thỏa cả hai điều kiện:
    -- 1. Trạng thái trong bảng inserted (= giá trị MỚI sau UPDATE) là 'Dang vay'
    -- 2. Ngày hiện tại đã vượt quá Deadline1
    -- Dùng set-based: UPDATE một lúc nhiều dòng nếu có nhiều hợp đồng được UPDATE cùng lúc
    UPDATE hd
    SET hd.TrangThai = N'Qua han'
    FROM HopDong hd
    -- INNER JOIN với bảng ảo inserted để lấy danh sách các dòng vừa bị UPDATE
    INNER JOIN inserted i ON hd.HopDongID = i.HopDongID
    -- Chỉ áp dụng khi trạng thái MỚI (sau UPDATE) vẫn là 'Dang vay'
    WHERE i.TrangThai = N'Dang vay'
      -- Và ngày hiện tại đã qua Deadline1 → đủ điều kiện chuyển sang 'Qua han'
      AND CAST(GETDATE() AS DATE) > i.Deadline1;
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_AutoQuaHan]
GO
/****** Object:  Trigger [dbo].[trg_AutoSanSangThanhLy]    Script Date: 11/05/2026 12:26:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo trigger tự động chuyển tài sản sang 'San sang thanh ly'
-- Kích hoạt mỗi khi có UPDATE trên bảng HopDong (cùng bảng với trigger 1)
CREATE TRIGGER [dbo].[trg_AutoSanSangThanhLy]
ON [dbo].[HopDong]          -- Gắn vào bảng HopDong
AFTER UPDATE        -- Kích hoạt sau lệnh UPDATE
AS
BEGIN
    SET NOCOUNT ON;  -- Tắt thông báo số dòng bị ảnh hưởng

    -- Cập nhật trạng thái tài sản sang 'San sang thanh ly'
    -- Áp dụng cho tài sản thuộc hợp đồng thỏa ĐỦ BA điều kiện:
    -- 1. Trạng thái hợp đồng MỚI (inserted) là 'Qua han'
    -- 2. Ngày hiện tại đã vượt quá Deadline2
    -- 3. Tài sản đang ở trạng thái 'Dang cam co' (chưa xử lý)
    UPDATE ts
    SET ts.TrangThai = N'San sang thanh ly'
    FROM TaiSan ts
    -- JOIN bảng trung gian để biết tài sản thuộc hợp đồng nào
    INNER JOIN HopDong_TaiSan hdt ON ts.TaiSanID  = hdt.TaiSanID
    -- JOIN bảng ảo inserted để lấy thông tin hợp đồng vừa được UPDATE
    INNER JOIN inserted i          ON hdt.HopDongID = i.HopDongID
    -- Chỉ khi trạng thái hợp đồng MỚI là 'Qua han'
    WHERE i.TrangThai = N'Qua han'
      -- Và ngày hiện tại đã vượt Deadline2 → tài sản đủ điều kiện thanh lý
      AND CAST(GETDATE() AS DATE) > i.Deadline2
      -- Chỉ xử lý tài sản đang ở trạng thái 'Dang cam co', tránh cập nhật 2 lần
      AND ts.TrangThai = N'Dang cam co';
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_AutoSanSangThanhLy]
GO
USE [master]
GO
